@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue';
}

.wrapper {
    display: flex;
    height: 100vh;
}

.background-image {
    flex: 1;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.form {
    flex: 2;
    padding-left: 25px;
    padding-top: 150px;
    background-color: rgb(245, 248, 248);
    width: 100%;
}

.form h2 {
    margin-bottom: 30px;
    inline-size: 650px;
}

.form-wrapper {
    margin-left: -25px;
    background-color: rgb(245, 248, 248);
    width: 100%;
}

.style-form {
    background-color: white;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 14px;
    box-shadow: 0 2px 2px 0 rgb(228, 223, 223);
    width: 100%;
}

form {
    margin-right: -24px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.01rem;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 28px;
    margin-left: 25px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.background-image div {
    background-color: #596D48;
    background: rgb(0 0 0 / 40%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 180px;
    padding: 10px;
}

label {
    display: block;
}

input {
    border: 1px solid #E5E7EB;
    box-shadow: 1px 1px 2px -1px rgb(228, 223, 223);
    padding: 6px;
    border-radius: 4px;
}

input[type]:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px -1px rgb(87, 144, 177);
}

input[type=password]:invalid {
    outline: none !important;
    border: 1px solid red;
}

.name-lastname div, .email-tel div, .password div {
    margin-right: 45px;
    margin-bottom: 18px;
}

.name-lastname, .email-tel, .password {
    display: flex;
    justify-content: flex-start;
}

.title {
    font-family: Norse-Bold, sans-serif;
}

.credits {
    position: absolute;
    bottom: 10px;
    left: 150px;
    color: white;
    font-size: 0.8rem;
}

.credits a {
    text-decoration: underline;
    color: white;
    font-weight: 500;
}